TUPLE IN PYTHON------>
1.Identification=()

2.Immutable data type===we can not change or update the value at run time.

3.Indexing starts from 0 and length from 1.

4. this is lke a container in which we can store different-different data type's element.

In [1]:
a=("sam","raj",23,56.9)
print(type(a))

<class 'tuple'>

In [2]:
#indexing  in tuple--->
print(a[0])
print(a[1])
print(a[2])
print(a[3])

sam
raj
23
56.9

In [6]:
#silicing in tuple----->
print(a[0:])
print(a[1:3])
print(a[:])
print(a[1:4])
print(a[::-1])
print(a[-4:-1])
print(a[:-1])

('sam', 'raj', 23, 56.9)
('raj', 23)
('sam', 'raj', 23, 56.9)
('raj', 23, 56.9)
(56.9, 23, 'raj', 'sam')
('sam', 'raj', 23)
('sam', 'raj', 23)

In [ ]:
#immutable data type--->
a=("sam","raj",23,56.9)
a[1]="rahul" #no

In [ ]:
# crud---> create
#         retrieve
#         update
#         display

In [9]:
#properties of tuple--->
# 1.concetenation=

a=(1,2,3)
b=(4,5,6)
print(a+b)

# 2.replication=

a=(1,2,3)
print(a*3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#function in list-->

In [10]:
#(1).len()-->it will return the length of the tuple.
a=(1,2,3,4,5)
print(len(a))

5

In [19]:
#(2).index()--->it will return the index number of tuple.
a=(1,2,3,4,5)
a.index(2)

1

In [20]:
#(3).count()--->it will return the frequency of element in tuple.

a=("sam","raj",56,78,56,90)
a.count(56)

2

In [ ]:
#(4).max()-->will return the maximum number in tuple.

In [ ]:
#(5). min()--->will return the min number in tuple.

In [13]:
#how to create a user defined tuple.
a=[]
size=int(input("enter size :"))
for i in range(size):
    val=input("enter the items : ")
    a.append(val)
b=tuple(a)   #(how will it be changed in int)
print(b)
c=list(b) 
d=input("enter the item to add :")
c.append(d)
e=tuple(c)
print(e)

('sam', 'raj', '45', '96')
('sam', 'raj', '45', '96', 'harshita')

In [ ]:
#
a=[]
size=int(input("enter size : "))
for i in range(size):
    val=input("enter the items:")
    a.append(val)
b=tuple(a)
print(b)
# c=list(b)
# l=input("enter the index of item you want to delete : ")
# c.pop(l)
# d=tuple(c)
# print(d)

e=list(b)
l=int(input("enter the item you want to insert: "))
j=input("index at which you want to insert ")
e.insert(l,j)
f=tuple(e)
print(f)

g=list(f)

q=int(input("enter the index you want to update :"))
k=input('enter the item to which you want to update:')
g.replace(a[q],k)

('raj', 'sam', '89', '41')
('raj', 'sam', '89', 'pqr', '41')

In [1]:
a="python is fun."
print(a[13])

.

In [2]:
a=[]
size=int(input("enter size : "))
for i in range(size):
    val=input("enter the items:")
    a.append(val)
b=tuple(a)
print(b)
c=list(b)
print(c)
d=[]
for i in c:
    if i not in d:
        d.append(i)
e=tuple(d)
print(d)

('harshita', '56', '25', '56', '56', '98')
['harshita', '56', '25', '56', '56', '98']
['harshita', '56', '25', '98']

In [ ]:
#(1).reverse a tuple withouot using slicing.
#(2).find the second largest number .

In [ ]:
#question-swap two value in a tuple
a=(10,20,30,40)
#output----->(10,40,30,20)

In [ ]:
#check if all the element in a tuple are same.
a=(2,2,2,2)

In [ ]:
#question find an elemnet that appear only once in a tuple
a=(1,2,2,3,4,4,5)
count=0
for i in a:
    if a.count(i)==1:
        print(i)        
print(i)

1
3
5
5