### Q1. Create a list of numbers from 1 to 10 using list comprehension.

In [1]:
lst=[i for i in range(1,10)]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Q2. Generate a list of squares of numbers from 1 to 10.

In [2]:
lst=[i**2 for i in range(1,10)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Q3. Create a list of even numbers between 1 and 20.

In [3]:
lst=[i for i in range(1,20) if i%2==0]
lst

[2, 4, 6, 8, 10, 12, 14, 16, 18]

### Q4. Generate a list of odd numbers between 1 and 20.

In [4]:
lst=[i for i in range(1,21) if i%2!=0]
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Q5. Extract all characters from a string "python" into a list.

In [5]:
lst=[i for i in 'python']
lst

['p', 'y', 't', 'h', 'o', 'n']

### Q6. Convert all characters in "HELLO" to lowercase using list comprehension.

In [8]:
lst=[i.lower() for i in "HELLO"]
print("".join(lst))

hello

### Q7. Generate a list of the first 10 multiples of 3.

In [10]:
lst=[i*3 for i in range(1,11)]
lst

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

### Q8. Create a list of cubes of numbers from 1 to 10.

In [11]:
lst=[i**3 for i in range(1,11)]
lst

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### Q9. Extract all vowels from "list comprehension is fun".

In [14]:
lst=[i for i in "list comprehension is fun" if i in "AEIOUaeiou"]
lst

['i', 'o', 'e', 'e', 'i', 'o', 'i', 'u']

### Q10. Convert a list of temperatures in Celsius [0, 20, 37, 100] to Fahrenheit.

In [15]:
l=[0,20,37,100]
lst=[i+273 for i in l]
lst

[273, 293, 310, 373]

### Q11. Create a list of the first 10 natural numbers in reverse order.

In [19]:
lst=[i for i in range(10,0,-1)]
lst

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Q12. Create a list of the ASCII values of all characters in "abc".

### Q14. Create a list of words from a sentence: "Python list comprehension is powerful".

In [ ]:
lst=[l for l in "pyhton list comprehension is powerful"]
lst

### Q15. Extract all digits from the string "a1b2c3d4".

In [22]:
lst=[i for i in "a1b2c3d4" if i.isnumeric()]
lst

['1', '2', '3', '4']

### Q17. Extract words longer than 3 letters from "the quick brown fox jumps over the lazy dog".

In [24]:
l="the quick brown fox jump over the lazy dog"
l=l.split()
lst=[i for i in l if len(i)>3 ]
lst

['quick', 'brown', 'jump', 'over', 'lazy']

### Q18. Flatten a 2D list [[1, 2], [3, 4], [5, 6]] into a 1D list.

In [25]:
l=[[1,2],[3,4],[5,6]]
new_list=[j for i in l for j in i]
new_list

[1, 2, 3, 4, 5, 6]

### Q19. Generate a list of prime numbers between 1 and 50 using list comprehension.

In [27]:
lst=[i for i in range(2,51) if all(i%j!=0 for j in range(2,int(i**0.5)+1))]
lst

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### Q20. Create a list of strings "even" or "odd" for numbers from 1 to 10.

In [28]:
lst=["even" if i%2==0 else 'odd' for i in range(1,11)]
lst

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

### Q21. Replace all negative numbers in [-5, -1, 0, 2, 4] with 0 using list comprehension.

In [30]:
l=[-5,-1,0,2,4]
lst=[0 if i<0 else i for i in l ]
lst

[0, 0, 0, 2, 4]

### Q22. Extract all uppercase letters from "PyThOn LisT CoMpReHeNsIoN".

In [31]:
lst=[i for i in "PyThOn LisT CoMpReHeNsIoN" if i.isupper()]
lst

['P', 'T', 'O', 'L', 'T', 'C', 'M', 'R', 'H', 'N', 'I', 'N']

### Q23. Create a list of tuples (number, square) for numbers from 1 to 10.

In [32]:
lst=[(i,i**2) for i in range(1,11)]
lst

[(1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100)]

### Q24. Generate a list of factorial values for numbers 1 to 6.

### Q25. Extract unique characters from "banana".

In [3]:
a="banana"
# b=[]
# for i in a:
#     if i not in b:
#         b.append(i)
# print(b)

b=[ i for i in a if a.count(i)==1]
b

['b']

### Q26.Create a list of reversed words from "Python is awesome".

In [6]:
a="Pyhton is awesome"
a=a.split()
b=[a[i] for i in range(len(a)-1,-1,-1)]
b

['awesome', 'is', 'Pyhton']

### Q27. Generate a multiplication table of 5 (list of first 10 multiples).

In [7]:
lst=[f"5*{i}={5*i}" for i in range(1,11)]
lst

['5*1=5',
 '5*2=10',
 '5*3=15',
 '5*4=20',
 '5*5=25',
 '5*6=30',
 '5*7=35',
 '5*8=40',
 '5*9=45',
 '5*10=50']

### Q28. Create a list of only consonants from "comprehension".

In [9]:
a="comprehension"
l=[i for i in a if i not in "aeiou"]
l

['c', 'm', 'p', 'r', 'h', 'n', 's', 'n']

### Q29. Flatten a list of lists of characters [["a", "b"], ["c", "d"]].

In [10]:
a=[["a","b"],["c","d"]]
l=[j for i in a for j in i ]
l

['a', 'b', 'c', 'd']

### Q30. Generate a list of all Pythagorean triplets (x, y, z) where 1 ≤ x, y, z ≤ 30 and x² + y² = z².

In [5]:
l=[(x,y,z) for x in range(1,31) for y in range(1,31) for z in range(1,31) if x**2+y**2==z**2]
l

[(3, 4, 5),
 (4, 3, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 6, 10),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 5, 13),
 (12, 9, 15),
 (12, 16, 20),
 (15, 8, 17),
 (15, 20, 25),
 (16, 12, 20),
 (18, 24, 30),
 (20, 15, 25),
 (20, 21, 29),
 (21, 20, 29),
 (24, 7, 25),
 (24, 10, 26),
 (24, 18, 30)]

### Q31. Transpose a matrix [[1,2,3],[4,5,6],[7,8,9]] using list comprehension.

In [ ]:
l=[]

### Q32. Generate all 2-digit combinations from digits [1,2,3,4].

### Q33. Convert a dictionary {'a': 1, 'b': 2} into a list of tuples using list comprehension.

### Q34. Extract all words ending with 'ing' from ["playing", "read", "writing", "go"].

### Q35. Create a list of palindromes between 1 and 200.

### Q36. Flatten a nested list with arbitrary depth (e.g., [1,[2,[3,4]]]) using recursive list comprehension.

### Q37. Generate all possible pairs (x, y) where x is from [1,2,3] and y is from [4,5,6].

### Q38. Extract numbers from a mixed list [1, "a", 3, "b", 5].

### Q39. Create a list of prime factors of 56.

### Q40. Generate Pascal’s Triangle first 5 rows using list comprehension.

### Q41. Extract all words that contain a vowel from "the sky is blue".

### Q42. Create a dictionary of word lengths from "Python comprehension is useful".

### Q43. Build a list of lists where each inner list contains the multiples of numbers from 1 to 5.

### Q44. Extract diagonal elements from a 2D matrix using list comprehension.

### Q45. Generate all permutations of [1,2,3] using list comprehension.

### Q46. Filter out stop words (["is","the","a"]) from "the list comprehension is a useful tool".

### Q47. Create a list of Fibonacci numbers up to n=10.

### Q48. Extract numbers that are both divisible by 3 and 5 between 1 and 100.

### Q49. Generate a checkerboard pattern [['X','O'],['O','X']] for size n=4.

### Q50. Implement a Caesar Cipher (shift each letter by 3) using list comprehension.