 FOR LOOP
loops are used for sequential traversal.For traversing list,tuple,string etc.
Syntax--->
for i in range(min_value,max_value,step_number):
print(i)

                         QUESTIONS

In [ ]:
#QUESTION
num=[12,23,35,57]
for i in num:
    print(i)

string="harshita"
for i in string:
    print(i)

In [ ]:
"""we can write else after we end for loop beacause it will be helpful in cases 
in which we use break .
like we want to fount if there is s in string then break the loop else it will end"""

string="harshita"
for i in string:
    if i=='s':
        print("'s' found")
        break
    print(i)
else:
    print("END")

In [ ]:
#   QUESTION
list=[1,4,9,56,12,58,36,20]
for nums in list:
    print(nums)

In [ ]:
#QUESTION-->you have to find a number x in above list
list=[1,4,9,36,52,20,72,36]
x=36
idx=0
for el in list:
    if el==x:
        print("number found at idx",idx)
        
    idx+=1


"""here in above question you have to take index because this index will tell you that at which place is x and first we take index 0 then we will
add one time by time.
AND if you have that number multiple times in your list,tuple than
you have to apply break if you want only first index where that x appeared.  """

In [ ]:
"""RANGE"""
"""RANGE RETURNS THE SEQUENCE OF NUMBERS STARTING FROM 0 (BY DEFAULT) 
AND INCRENET BY 1 (BY DEFAULT) AND STOPS FROM SPECIFIED NUMBER."""
#example
seq=range(5)
for i in seq:
    print(i)
#ENDING WILL NOT BE INCLUDED

In [ ]:
#QUESTION
for i in range(1,101):
    print(i,end=" ")
#here end=" "this will provide us the seq we eant in vertical format and with spaces

In [ ]:
#QUSETION
for i in range(100,0,-1):
    print(i,end=" ")
"""HERE WE WILL GIVE STEP SIZE BECAUSE WE HAVE TO DECREASE THE NUMBER SO WILL TAKE -1 AND IF WE
SIMPLE WANT TO INCREASE BY 1 THEN BY DEFAULT IT IS ALWAYS 1 FOR STEP SIZE"""

In [ ]:
#       QUESTION--->you have to print table of a given number
n=int(input("enter number : "))

for i in range(1,11):
    print(n*i)

In [ ]:
#QUESTION.
n=int(input("enter number : "))

sum=0
for i in range(0,n+1):
    sum+=i
print(sum)

In [ ]:
#QUESTION
n=int(input("enter number : "))

factorial=1
for i in range(1,n+1):
    factorial*=i
print(factorial)

In [ ]:
#QUSESTION
n=int(input("enter number : "))
for i in range(0,n+1,2):
     print(i)
       #or
            
# n = int(input("Enter a number: "))

# for i in range(1, n+1):
#     if i % 2 == 0:
#         print(i)

In [ ]:
#QUESTION
n=20
for i in range(1,n+1,2):
    print(i)
    i=i+1

In [ ]:
#QUESTION
num=int(input("enter number : "))
sum=0
for i in range(1,num+1):
    sum=sum+i
    i=i+1
print(sum)
           #OR
num=int(input("enter number : "))
sum=num*(num+1)//2
print(sum)

In [ ]:
num=int(input("enter number : "))
sum=0
for i in range(1,num+1):
    if i%2==0:
        print(i)
        sum=sum+i
    i=i+1
print(sum)

           #OR 
for i in range(0,num+1,2):
    print(i)
    sum=sum+i
print

In [ ]:
#QUESTION
num=2345
sum=0
for digit in str(num):
    digit=num%10
    print(digit)
    sum=sum+digit
    num=num//10
print(sum)

In [29]:
#QUESTION
num=2345
sum=0
count=0
for digit in str(num):
    digit=num%10
    print(digit,end="    ")
    count=count+1
    sum=sum+digit
    num=num//10
print("count",count,end=" ")
print("sum",sum,end=" ")
print("average",sum/count,end=" ")

5    4    3    2    count 4 sum 14 average 3.5

In [32]:
num=500
sum=0
for i in range(1,num+1):
    if i%7==0:
      sum=sum+i
    i=i+1
print(sum)

17892

In [ ]:
#QUESTION
num=5
factorial=1
for i in range(1,num+1):
    factorial=factorial*i
    i=i+1
print(factorial)

120

In [7]:
#QUESTION---->Prime numbers
num=int(input("enter the number : "))
count=0

for i in range(2,num):
    if num%i==0:
        count=count+1
        i=i+1
        break
if count==0:
    print("num in prime number")
else:
    print("num is not prime")

num in prime number

In [15]:
#   QUESTION----->Fibonacci seq
num=int(input("enter the number : "))
a=0
b=1
c=0
for i in range(num):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

1 2 3 5 8

In [18]:
#QUESTION----->Power x^y
x=int(input("enter the base: "))
y=int(input("enter the exponant: "))

for _ in range(y):
    pow=x**y
print(pow)

243

In [ ]:
#QUESTION
num=float(45)
i=1
for i in range(1,int(num**0.5)+1):
    i=i+1
print(i-1)

#LETS UNDERSTAND THE QUESTION
""" HERE WHAT WE DONE IS THAT IN PYTHON RANGE ONLY TAKES INT 
VALUE SO WE CAN'T GET THE ANSWER SO WHAT WE DONE IS WE KEEP RANGE
(1 TO INT(NUM**0.5)+1) MEAN I WE BE STARTING FROM 1 TO SQUARE ROOT
 OF NUMBER AND AS WE KNOW THAT IN RANGE WE HANE TO TAKE NUM+1 SO 
 HAVE TAKEN +1 HERE.
"""

6

In [33]:
#QUESTION---->Prime factorisation
num=48
lcm=1
for i in range(2,num+1):
    while num%i==0:
        print(i,end=" ")
        num=num//i

2 2 2 2 3

In [36]:
#QUESTION---->HCF
num1=36
num2=50
for i in range(2,num1 or num2):
    if num1%i==0 and num2%i==0:
        if num1%i==0:
            num1=num1//i
        if num2%i==0:
            num2=num2//i
        print(i,end=" ")

2

In [ ]:
#QUESTION----->LCM

In [ ]:
#   QUESTION---->1 to n prime number

In [49]:
#QUESTION--->REVERSE OF NUMBER
#while loop more easily
num = 1234
rev = 0

for i in range(n):
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10
print("Reversed =", rev)

Reversed = 4321

In [3]:
n=int(input("number: "))
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [5]:
n=int(input("enter"))

for i in range(1,n+1):
    for j in range(1,n+1):
        print(j,end=" ")
    print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [6]:
n=4
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i,end=" ")
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
n=4
for i in  range(n,0,-1):
    for j in range(n,0,-1):#if you want to go backwards you need to add -1
        print(j,end=" ")
    print()

4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [27]:
n=int(input("enter"))
temp=1
for i in range(1,n+1):
    for j in range (1,n+1):
        print(temp,end=" ")
        temp=temp+2
    print()

1 3 5 7 9
11 13 15 17 19
21 23 25 27 29
31 33 35 37 39
41 43 45 47 49

In [14]:
n=4
for i in range (1,n+1):
    for j in range(1,2*n,2):
        print(j,end=" ")
    print()

1 3 5 7
1 3 5 7
1 3 5 7
1 3 5 7

In [18]:
n=4
for i in range(n,0,-1):
    for j in range(2*n-1,0,-2):
        print(j,end=" ")
    print()

7 5 3 1
7 5 3 1
7 5 3 1
7 5 3 1

In [21]:
n=4
for i in range(1,n+1):
    for j in range(2,2*n+1,2):
        print(j,end=" ")
    print()

2 4 6 8
2 4 6 8
2 4 6 8
2 4 6 8

In [22]:
n=4
for i in range(1,n+1):
    for j in range(2*n,0,-2):
        print(j,end=" ")
    print()

8 6 4 2
8 6 4 2
8 6 4 2
8 6 4 2

In [24]:
n=5
temp=1
for i in range (1,n+1):
    for j in range (1,n+1):
        print(temp,end=" ")
        temp=temp+1
    print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [26]:
n=5
temp=n*n
for i in range(1,n+1):
    for j in range(1,n+1):
        print(temp,end=" ")
        temp=temp-1
    print()

25 24 23 22 21
20 19 18 17 16
15 14 13 12 11
10 9 8 7 6
5 4 3 2 1

In [28]:
n=4
temp=2*n*n-1
for i in range(1,n+1):
    for j in range(1,n+1):
        print(temp,end=" ")
        temp=temp-2
    print()

31 29 27 25
23 21 19 17
15 13 11 9
7 5 3 1

In [29]:
n=4
letter=['a','b','c','d']

for i in  range(n):
    for j in range(n):
        print(letter[j%len(letter)],end=" ")
    print()

a b c d
a b c d
a b c d
a b c d

In [ ]:
bh='a'

TypeError: 'str' object cannot be interpreted as an integer

In [36]:
n=4
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [37]:
n=4
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [52]:
n=4
for i in range(1,n+1):
    for j in range(n,n-i,-1):
        print(j,end=" ")
    print()

4
4 3
4 3 2
4 3 2 1

In [55]:
n=5
temp=1

for i in range(1,n+1):
    for j in range(1,i+1):
        print(temp,end=" ")
        temp=temp+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [58]:
n=4
temp=int(n*(n+1)/2)

for i in range(1,n+1):
    for j in range(1,i+1):
        print(temp,end=" ")
        temp=temp-1
    print()

10
9 8
7 6 5
4 3 2 1

In [59]:
n=4
temp=1

for i in range(1,n+1):
    for j in range(1,i+1):
        print(temp,end=" ")
        temp=temp+2
    print()

1
3 5
7 9 11
13 15 17 19

In [61]:
n=4
temp=int((n*(n+1))-1)

for i in range(1,n+1):
    for j in range(1,i+1):
        print(temp,end=" ")
        temp=temp-2
    print()

19
17 15
13 11 9
7 5 3 1

In [ ]:
n=4
temp=1

for i in range(1,n+1):
    for j in range(1,i+1):
        print(temp,end=" ")
        temp=temp+2
    print()

2
4 6
8 10 12
14 16 18 20

In [65]:
n=4
temp=int(n*(n+1))

for i in range(1,n+1):
    for j in range(1,i+1):
        print(temp,end=" ")
        temp=temp-2
    print()

20
18 16
14 12 10
8 6 4 2

In [69]:
n=4
for i in range (n,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

In [71]:
n=4
for i in range (n,0,-1):
    for j in range(1,i+1):
        print(n+1-i,end=" ")
    print()

1 1 1 1
2 2 2
3 3
4

In [115]:
n=4
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(i,end=" ")
    print()

   1
  2 2
 3 3 3
4 4 4 4

In [91]:
n=4
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(j,end="")
    print()

   1
  12
 123
1234

In [75]:
n=4
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(i,end="")
    print()

   1
  22
 333
4444

In [77]:
n=4
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(n+1-i,end="")
    print()

   4
  33
 222
1111

In [78]:
n=4
num=1
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(num,end="")
        num=num+1
    print()

   1
  23
 456
78910

In [98]:
n=4
for i in range(n,0,-1):
    print(" "*(n+1-i),end="")
    for j in range(i,0,-1):
        print(j,end="")
    print()

 4321
  321
   21
    1

In [ ]:
n=4
for i in range(n,0,-1):
    print(" "*(n+1-i),end="")
    for j in range(1,i+1):
        print(n+1-i,end="")
    print()

 1111
  222
   33
    4

In [114]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==1 or i==n or j==1 or j==n:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [119]:
n=4
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(i,end=" ")
    print()


    n=4
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(i,end=" ")
    print()

   1
  2 2
 3 3 3
4 4 4 4
   1
  2 2
 3 3 3
4 4 4 4