In [ ]:
#introduction---->
#(1). indentification---(obj1,obj2,___)
#(2).it is unordered,mutable data type.
#(3).it does not allowed duplicate element .(no same element)

In [3]:
a={'sam','mohit','sam','raj'}
print(a)
type (a)

{'raj', 'sam', 'mohit'}

set

In [18]:
#loop in set
a={'sam','mohit','sam','raj'}
for i in a:
    print(i,end="  ")

raj  sam  mohit

In [5]:
len(a)

3

In [6]:
for i in range(len(a)):
    print(i)

0
1
2

In [ ]:
for i in range(len(i)):
    print(a[i])


    #There will be no direct access of element in set

TypeError: object of type 'int' has no len()

In [ ]:
a={1,2,3}
b={4,5,6}
c=a+b

#will not be concatenated

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
a={1,2,3}
a=a*3

#will nor allow replication

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [ ]:
#function in set

In [ ]:
#(1).len()

In [20]:
#(2).add()---> it will add element
a={1,2,3}
a.add(56)
a

{1, 2, 3, 56}

In [21]:
#(3).remove()-->it will remove element.
a.remove(3)
a

{1, 2, 56}

In [ ]:
a.discard(56)
a

{1, 2}

In [ ]:
#operation in set

a={1,2,3,4}
b={3,4,5,6}    # it will combine 2 seta having unique value
c=a.union(b)
c

{1, 2, 3, 4, 5, 6}

In [ ]:
c=a|b   # unioun and | does same thing give unioun
c

{1, 2, 3, 4, 5, 6}

In [ ]:
a={1,2,3,4}
b={3,4,5,6}  
c=a.intersection(b) # it will return elements in 2 setas

In [27]:
c=a&b
c

#  & and intersection does same thing

{3, 4}

In [ ]:
a-b  #it will return set 'a' without the common value

{1, 2}

In [2]:
a={1,2,3,4}
b={3,4,5,6}
b-a  # it will return set 'b' without including the common values

{5, 6}

In [3]:
a={1,2,3,4}
b={3,4,5,6}
#extract all elemwnt without havingcommon element
a^b

{1, 2, 5, 6}

In [4]:
a={1,2,3,4}
b=a.copy()
#it will create a duplicate id of data.
b

{1, 2, 3, 4}

In [5]:
#question-find all the unique vowels in string using set
text="programming in python"
t=[]
for i in text:
    if i in 'aeiouAEIOU':
        t.append(i)
s=set(t)
print(s)

{'a', 'i', 'o'}

In [12]:
#question-2  in given 2 lists find common element using a set
list1=[1,2,3,4,5,6]
list2=[4,5,6,7,8,9]
# d=[]
# for i in list1:
#     for i in list2:
#       if i in list1 and list2:
#         d.append(i)
# s=set(d)
# s

set1=set(list1)
set2=set(list2)
common=set1&set2
common

{4, 5, 6}

In [17]:
#q-3  find element that are in list1 not in list 2
l1=[1,2,3,4]
l2=[3,4,5,6]
# d=[]
# for i in l1:
#      if i not in l2:
#         d.append(i)
# s=set(d)
# s

set1=set(l1)
set2=set(l2)
set1-set2

{1, 2}

In [1]:
#q4 find all duplicate elements in a list using a set
nums=[1,2,3,2,4,5,1,6,3]
d=set()
f=set()
for i in nums:
    if i in f:
       d.add(i)
    else:
        f.add(i)
print(d)
print(f)

{1, 2, 3}
{1, 2, 3, 4, 5, 6}

In [31]:
#q-check if all emement of one list exist in another listusing sets.
l1=[1,2,3]
l2=[1,2,3,4,5]
s1=set(l1)
s2=set(l2)
d=s1-s2
if d==set():
    print("True")
else:
    print("False")
      #or 

if s1.issubset(s2):
    print(True)
else:
    print(False)

True
True

In [28]:
s1={1,2,3}
s2={1,2,3,4,5}
s1-s2

set()

In [ ]:
# find the first repeated character in a string using a set.
text="programming"
#output=r
d=set()
for i in text:
    if i in d:
        print(i)
        break
    else:
        d.add(i)

r
{'g', 'o', 'r', 'p'}

In [ ]:
# What is a frozenset?

# set = mutable (we can add/remove elements).

# frozenset = immutable version of set (once created, cannot be changed).

# But it still supports set operations like union, intersection, difference.

In [39]:
# 14. Find Maximum and Minimum Values in a Set

# Write a Python program to find the maximum and minimum values in a set.
a={5,10,15,20,2}

# max_val=max(a)
# min_val=min(a)
# print(max_val)
# print(min_val)

              #or

a={5,10,15,20,2}

if not a:
    print("set is empty")
else:
    iterator=iter(a)
    max_val=min_val=next(iterator)

    for i in iterator:
        if i>max_val:
            max_val=i
        if i<min_val:
            min_val=i
print(max_val)
print(min_val)

20
2

In [ ]:
# iter-------> iter() turn a collection into iteartor

# an iterator is an object that lets you go throgh elemnts one by one.(only moves forward)

#next() gives you next element of iterator

In [ ]:
nums = [10, 20, 30]
it = iter(nums)

print(next(it))   # 10  (first element)
print(next(it))   # 20  (second element)
print(next(it))   # 30  (third element)
# print(next(it)) # âŒ StopIteration (nothing left)

In [44]:
a={5,5,5,5,5,5}
len(a)

1

In [4]:
#. Check if a Set is a Superset

#Write a Python program to check if a given set is a superset of itself and a superset of another given set.
set={1,2,3,4,5}
set1={2,3}
is_superset=True

for i in set1:
    if i not in set:
        is_superset=False
        break
print(is_superset)

True

In [ ]:
########## words.extend()

#------------------>collect all words into single list.