In [ ]:
#introduction of dict--->
#1.indentification--{}
#2.elemnet will be saparated by commas
#3.indexing starts from 0 and length from1.
#4. will be in {key:value,key:value}

In [3]:
a={'Model':'hyrender','Brand':'Toyota','price':2000000}
print(a)
type(a)

{'Model': 'hyrender', 'Brand': 'Toyota', 'price': 2000000}

dict

In [ ]:
#loop in dict

In [4]:
#to extract all key
for i in a:
    print(i)

Model
Brand
price

In [5]:
for i in a.keys():
    print(i)

Model
Brand
price

In [6]:
#to extract all vallues:
for i in a:
    print(a[i])

hyrender
Toyota
2000000

In [7]:
for i in a.values():
    print(i)

hyrender
Toyota
2000000

In [8]:
#to extract key and value both
for x,y in a.items():
    print(x,y)

Model hyrender
Brand Toyota
price 2000000

In [15]:
#update the value
a['Model']='innova'
print(a)

{'Model': 'innova', 'Brand': 'Toyota', 'price': 2000000}

In [28]:
a['color']='black'
print(a)

{'Model': 'hyrender', 'Brand': 'Toyota', 'color': 'black'}

In [ ]:
#function in dict--->

In [12]:
#1 .len()---->
len(a)

3

In [16]:
#2.pop()--->to remove an key value pair.
a

{'Model': 'innova', 'Brand': 'Toyota', 'price': 2000000}

In [3]:
a={'Model': 'innova', 'Brand': 'Toyota', 'price': 2000000}
a.pop('Model')
a

{'Brand': 'Toyota', 'price': 2000000}

In [27]:
#3.popitem---> it will remove last key
a={'Model':'hyrender','Brand':'Toyota','price':2000000}
a.popitem()
print(a)

{'Model': 'hyrender', 'Brand': 'Toyota'}

In [31]:
#4. update--->it will update the value of specific keys
a={'Model':'hyrender','Brand':'Toyota','price':2000000}
a.update({'Model':'Innova'})
a.update({'color':'Black'})
print(a)

{'Model': 'Innova', 'Brand': 'Toyota', 'price': 2000000, 'color': 'Black'}

In [ ]:
#1 create a dict of 3 students with their marks and print it.
dict={'jake':78,'jaya':89,'lata':90}
print(dict)

In [33]:
#2 how do you access marks of name from dict
dict={'jake':78,'jaya':89,'lata':90}
for marks in dict.values():
    print(marks)

78
89
90

In [34]:
#3.add new name 'Neha:80
dict={'jake':78,'jaya':89,'lata':90}
dict.update({'Neha':80})
print(dict)

{'jake': 78, 'jaya': 89, 'lata': 90, 'Neha': 80}

In [37]:
#5 check if 'amit' exists in dict
dict={'jake':78,'jaya':89,'lata':90}
if 'Amit' in dict:
    print("yes")
else:
    print("no")

no

In [39]:
for x,y in dict.items():
    print(x,y)

jake 78
jaya 89
lata 90

In [55]:
#write a program to find a student with higher marks
dict={'jake':78,'jaya':89,'lata':90}
max=0
for i in dict.values():
    if i>max:
        max=i
print(max)

90

In [67]:
#count the frequency of each character in string using dict.
a='banana'
b={}
for i in a:
    if i in b:
        b[i]+=1
    else:
        b[i]=1
print(b)

{'b': 1, 'a': 3, 'n': 2}

In [68]:
#8.
words=['apple','banana','apple','orange','banana','apple']
b={}
for i in words:
    if i in b:
        b[i]+=1
    else:
        b[i]=1
print(b)

{'apple': 3, 'banana': 2, 'orange': 1}

In [ ]:
a="banana"
count={}
for i in a:
    count[i]=0

In [2]:
#question- merge two dict
d1={"a":1,"b":2}
d2={"c":3,"d":4}
merged={}
for k in d1:
    merged[k]=d1[k]
for k in d2:
    merged[k]=d2[k]
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
d={"b":1,"a":2,"c":4}
# swapped={}
# for k in d:
#     v=d[k]
#     swapped[v]=k
# print(swapped)

for i1,j1 in d.items():
    for i2,j2 in d.items():
        if j1<j2:
            print(j1,j2)

1 2
1 4
2 4

In [4]:
#question
key=["a","b","c"]
values=[1,2,3]
d={}
for i in range(len(key)):
    d[key[i]]=values[i]
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#question-1 find the student with the second highest marks
a={"amit":85,"seeta":90,"ravi":78,"mohit":88}
Max=-1
second_max=-1
for i in a:
    v=a[i]
    if v>Max:
        Max==v
    elif v>second_max and v<Max:
        second_max=v
print(second_max)
print(Max)

-1
-1

In [ ]:
highest=-1
for i in a:
    if a[i]>highest:
        highest=a[i]
print(highest)
second_highest=-1
for i in a:
    if a[i].highest

In [15]:
#question- count freq of each character in a string in a dict.
a="programming"
d={}
for i in a:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

In [31]:
#question- we have to find keys with max value
scores={"a":50,"b":80,"c":80,"d":60}
Max=0
max_i=None
for i,v in scores.items():
    if v>Max:
        Max=v
        max_i=[i]
    elif v==Max:
        max_i.append(i)
print(max_i)   
print(Max)

['b', 'c']
80

In [ ]:
#question remove all keys swith less than 50
s={"a":45,"b":55,"c":35,"d":60}
d={}
for i,j in s.items():
    if j>=50:
        d[i]=j
d

{'b': 55, 'd': 60}

In [15]:
d={"a":1,"b":56,"c":57}

max_key = max(d, key=d.get)
max_key

d1 = {"a": 1}
d2 = {"b": 2}
merged = {**d1, **d2}
merged

{'a': 1, 'b': 2}